* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: "Bebas Neue", cursive;
    color: black;
  }
  
  nav {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    opacity: 0.75;
    color: black;
  }
  
  a:hover {
    opacity: 1;
  }
  
  a.button {
    border-radius: 2px;
    text-transform: uppercase;
    text-align: center;
    background: grey;
    opacity: 1;
  }
  
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
   
  }
  
  section h3.title {
    text-transform: capitalize;
    font-family: "Bebas Neue", cursive;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
  }
  
  section p {
    max-width: 775px;
    font-size: 40px;
    padding: 40px  20px;
    /* margin-bottom: 20px; */
    text-align: center;
    font-family: "Quicksand", sans-serif;;
  }
  
  header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    opacity: 0;
    animation: 1s fadein 0.5s forwards;
    color: black;
  }
  
  @keyframes fadein {
    100% {
      opacity: 1;
    }
  }
  
  header h2 {
    font-family: "Quicksand", sans-serif;
  }
  
  header nav {
    display: flex;
    justify-content: space-evenly;
    margin-right: -15px;
  }
  
  header nav ul{
      display: flex;
      justify-content: space-evenly;
  
    margin: 0 25px;
  }
  
  
  
  /* INTRO STYLES */
  
  .first {
    color: black;
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    
  }

  .heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* background: #ffffff; */
    padding: 50px;
    justify-content: space-evenly;
}
  
  /* .midi{
      min-height: 20vh;
  }
  */
  
  .first .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-color: white;
  }
  
  /* .features {
   display: flex;
    flex-direction: column;
  
    /* background: grey; */
    /* opacity: 1;
} */ 

.staff{
    height: 20%;
    width: 20%;
    border-radius: 50%;

}
.staff1 {
    height: 10%;
    width: 10%;
    border-radius: 50%;
}

.cards {
    display: flex;
    /* height: 200px; */
    align-items: center;
    margin: 50px 50px auto;
   
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 30px auto;
   
    /* padding: 60px; */
    /* margin: 200px auto; */
    border-color: black;
    border-radius: 5%;
    /* background: grey; */
    /* min-height: 30vh; */
}

  .buttons{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      padding-bottom: 1rem;
  }
  

  div img {
      border-radius: 25px;
  }
  
  .first h1 {
    font-family: "Pacifico", cursive;
    margin-bottom: 15px;
    font-size: 80px;
  }
  .header h2 {
      font-size: 30px;
  }
  
  .first h3 {
    font-family: "Quicksand", sans-serif;
    margin-bottom: 40px;
  }
  
  p {
      font-si
  }
  .first a.button {
    padding: 20px 46px;
  }
  
  .intro {
    opacity: 0;
    margin-top: 100px;
    animation: 1s slidefade 1s forwards;
  }

  .contact {
      display: flex;
      flex-direction: column;
   justify-content: flex-end;
  }
  
  @keyframes slidefade {
    100% {
      opacity: 2;
      margin-top: 2;
    }
  }
  

    
  @media (max-width: 1000px) {
    .contact form input {
      flex-basis: 100%;
      margin: 0 0 20px 0;
    }
  }
  
  footer {
    display: flex;
    margin: 50px 50px auto;
   
    align-items: center;
    background-color: grey;
    color: black;
    padding: 10px 0;
    /* padding-top: 3rem; */
    /* min-height: 20vh; */
  }
  
  footer p {
    text-transform: uppercase;
    font-size: 18px;
    opacity: 0.6;
    align-self: center;
  }
  

  
    @media (max-width: 760px) {
      header {
        padding: 30px 50px;
        flex-direction: column;
      }
    
      header h2 {
        margin-bottom: 15px;
      }
      /* .first {
        max-height: 80vh;
      } */
    
      .first h1 {
        font-size: 48px;
      }
      .cards{
          display: flex;
          flex-wrap: wrap;
      }
      /* .card {
          display: flex;
          flex-wrap: wrap;
      } */
    
      .first h3 {
        font-size: 15px;
      }
    
      .first .button {
        padding: 15px 40px;
      }

      .contact {
          min-height: 20vh;
      }
      /* .heading {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row-reverse;
      } */
      /* .features {
          display:flex;
          flex-wrap: wrap;
      } */
    }
    
  
  
     @media (max-width: 560){
      /* .first {
          min-height: 10vh;
          max-height: 60vh;
          max-width: 40vw;
        } */
  
        section {
          padding: 30px 10px;
        }
        
      
        .first h1 {
          font-size: 30px;
        }
      
        .first h3 {
          font-size: 15px;
        }
      
        .first .button {
          padding: 15px 40px;
        }
      
        .first h1 {
          font-size: 25px;
        }
      
        .first h3 {
          font-size: 20px;
        }
      
        .first .button {
          padding: 15px 15px;
        }
        /* .first .background-image {
          width: 20%;
      } */
 
      h3 {
        font-size: 20px
      }
  
      .first{
        align-items: center;
      }
  
      .cards{
        align-items: center;
      }
      /* .contact {
          min-height: 20vh;
      } */
  
    } 